.apptool
.DS_Store
.mb2
.apptool
RPMS
cmake_install.cmake
install_manifest.txt
*.autosave
*.list
*.md.backup
*.moc
*.o
.idea
*.pro.user*
*.qm
*~
*_autogen
*build-*
*token*
CMakeLists.txt.user*
moc_*.cpp
Makefile.ru.auroraos.EmptyProject
ru.auroraos.EmptyProject
